extends layout

block content

  #alert
    .alert-wrapper
      .alert-content DISASTER IN YOUR AREA!!!

  .wrapper

    h1= title
    p Welcome to #{title}

    #support.box

    .error
    .box
      p movement x:
        span#x
    .box
      p movement y:
        span#y
    .box
      p movement z:
        span#z
    .box
      p interval:
        span#interval

    .disaster
      A disaster is occuring
