extends layout

block content
  h1= title
  p Welcome to #{title}

  #support.box

  .box
    p movement x
      span#x
  .box
    p movement y
      span#y
  .box
    p movement z
      span#z
  .box
    p interval
      span#interval

  p
    button(onclick='geoFindMe()') Show my location
    #geolocation-support
    #geolocation-output
