doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/script.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCFHPuDbin68hi1z5Izj0yNx9EpxTmwCC0')
